*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
}
header nav{
    font-family: 'Open Sans';
}
footer{
    font-family: 'Nanum Gothic';
}

@media screen and (max-width: 767px){
    header{
        max-width: 767px;
        z-index: 100; position: relative fixed;
        width: device-width !important;
    }
    header button.mui{
        position: absolute; top: 20px; right: 0;
        text-indent: -9999px; border: none;
        background: url('../images/mui.png') no-repeat center;
        background-size: contain;
        width: 20px; height: 20px;
    }
    header h1{
        padding: 25px 0 0 2.1%;
        width: 30%; 
    }
    header h1 a img{
        width: 100%;
    }
    header nav.muiContainer{
        height: 0%; 
        width: 30%; transition: all 0.75s ease-in-out;
        position: fixed; line-height: 20px;
        padding: 0; overflow-y: hidden;
        position: absolute; top: 50px; right: 0;
    }
    header nav.muiContainer.active{
        height: 100%; overflow-y: visible;
    }
    header nav ul{
        vertical-align: middle;
    }
    header nav ul li a{
        text-decoration: none;
        font-size: 16px; color: #031027;
    }
    /* header Fin */

    section ul.pagination{
        position:fixed; top: 40%; right: 3%; width: 3%;
        z-index:1000;
    }
    section ul.pagination:after{
        content:''; display:block; visibility:hidden; clear:both;
    }
    section ul.pagination li{
        display:block; vertical-align: middle;
    }
    section ul.pagination li a{
        text-decoration:none; display:inherit;
        text-indent: -9999px; border: 1px solid #c0c4ce;
        border-radius: 15px; background-color: #c0c4ce;
        width: 5px; height: 5px; margin: 0 auto 20px;
    }
    section ul.pagination li a span{
        transition-duration: 1s; width:0%; overflow:hidden;
    }
    section ul.pagination li a.active{
        width: 10px; height: 10px; background-color: transparent;
    }
    /* scrollify */

    footer{
        height: 40px !important; background-color: #031027;
        color: #fff; text-align: center;
        font-size: 12px; padding-top: 30px;
    }
    /* footer Fin */
}
/* mobile Fin */

@media screen and (min-width: 768px) and (max-width: 1279px){
    header{
        max-width: 1279px; width: 100%;
        z-index: 100; position: relative fixed;
    }
    header button.mui{
        position: absolute; top: 20px; right: 20px;
        text-indent: -9999px; border: none;
        background: url('../images/mui.png') no-repeat center;
        background-size: contain;
        width: 30px; height: 30px;
    }
    header h1{
        padding: 40px 0 0 2.1%;
        width: 19.47%; 
    }
    header h1 a img{
        width: 100%;
    }
    header nav.muiContainer{
        height: 0%; 
        width: 20%; transition: all 0.75s ease-in-out;
        position: fixed; line-height: 30px;
        padding: 0; overflow-y: hidden;
        position: absolute; top: 50px; right: 0;
    }
    header nav.muiContainer.active{
        height: 100%; overflow-y: visible;
    }
    header nav ul{
        vertical-align: middle;
    }
    header nav ul li a{
        text-decoration: none;
        font-size: 20px; color: #031027;
    }
    /* header Fin */

    section ul.pagination{
        position:fixed; top: 40%; right: 3%; width: 3%;
        z-index:1000;
    }
    section ul.pagination:after{
        content:''; display:block; visibility:hidden; clear:both;
    }
    section ul.pagination li{
        display:block; vertical-align: middle;
    }
    section ul.pagination li a{
        text-decoration:none; display:inherit;
        text-indent: -9999px; border: 1px solid #c0c4ce;
        border-radius: 15px; background-color: #c0c4ce;
        width: 5px; height: 5px; margin: 0 auto 20px;
    }
    section ul.pagination li a span{
        transition-duration: 1s; width:0%; overflow:hidden;
    }
    section ul.pagination li a.active{
        width: 10px; height: 10px; background-color: transparent;
    }
    /* scrollify */

    footer{
        height: 60px !important; background-color: #031027;
        color: #fff; text-align: center;
        font-size: 16px; padding-top: 50px;
    }
    /* footer Fin */
}
/* tablet Fin */

@media screen and (min-width: 1280px){
    header{
        max-width: 1900px; width: 100%;
        z-index: 100;
    }
    header button{
        display: none;
    }
    header h1{
        padding: 40px 0 0 2.1%;
        width: 19.47%; display: inline-block;
    }
    header h1 a{
        display: inline-block;
    }
    header h1 a img{
        width: 100%;
    }
    header nav{
        display: inline-block;
        margin-left: 35%; width: 40%;
    }
    header nav ul{
        vertical-align: middle;
        text-align: right;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li:not(:first-of-type){
        margin-left: 1.84%;
    }
    header nav ul li a{
        text-decoration: none;
        font-size: 25px; color: #aaaebd;
    }
    header nav ul li a.active{
        font-weight: 700; border-bottom: 2px solid #aaaebd;
    }
    /* header Fin */

    /* section.panel3{
        height:1400px;
    } */
    section ul.pagination{
        position:fixed; top: 40%; right: 3%; width: 3%;
        z-index:1000;
    }
    section ul.pagination:after{
        content:''; display:block; visibility:hidden; clear:both;
    }
    section ul.pagination li{
        display:block; vertical-align: middle;
    }
    section ul.pagination li a{
        text-decoration:none; display:inherit;
        text-indent: -9999px; border: 1px solid #c0c4ce;
        border-radius: 15px; background-color: #c0c4ce;
        width: 5px; height: 5px; margin: 0 auto 20px;
    }
    section ul.pagination li a span{
        /* display:inherit; text-align:center; color:transparent; 
        background-color:transparent; border-right:2px solid black;  */
        transition-duration: 1s; width:0%; overflow:hidden;
    }
    section ul.pagination li a.active{
        width: 10px; height: 10px; background-color: transparent;
    }
    section ul.pagination li a.active span{
        /* background-color:black; color:white; width:100%; */
    }

    /* scrollify */

    footer{
        height: 60px !important; background-color: #031027;
        color: #fff; text-align: center;
        font-size: 16px; padding-top: 50px;
    }
    /* footer Fin */
}
/* desktop Fin */